In [1]:
import duckdb
import pandas as pd
import sqlalchemy
# No need to import duckdb_engine
#  SQLAlchemy will auto-detect the driver needed based on your connection string!

# Import ipython-sql Jupyter extension to create SQL cells
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
# %sql duckdb:///:memory:
%sql duckdb:///../local.db

In [2]:
%%sql
SELECT
    schema_name,
    function_name
FROM duckdb_functions()
ORDER BY ALL DESC
LIMIT 5

  schema_name              function_name
0  pg_catalog          shobj_description
1  pg_catalog                  pg_typeof
2  pg_catalog         pg_type_is_visible
3  pg_catalog  pg_ts_template_is_visible
4  pg_catalog    pg_ts_parser_is_visible

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS AWRHISTOSSTAT (
    PKEY VARCHAR(256),
    DBID BIGINT,
    INSTANCE_NUMBER SMALLINT,
    HH24 SMALLINT,
    STAT_NAME VARCHAR(64),
    HH24_TOTAL_SECS BIGINT,
    CUMULATIVE_VALUE BIGINT,
    AVG_VALUE BIGINT,
    MODE_VALUE BIGINT,
    MEDIAN_VALUE BIGINT,
    PERC50 BIGINT,
    PERC75 BIGINT,
    PERC90 BIGINT,
    PERC95 BIGINT,
    PERC100 BIGINT,
    MIN_VALUE BIGINT,
    MAX_VALUE BIGINT,
    SUM_VALUE BIGINT,
    COUNT BIGINT
);
insert into AWRHISTOSSTAT
select * from read_csv_auto('data/opdb__awrhistosstat__190_2.0.6_orcl-vbox1.localdomain.com.VBOXNCDB.vboxncdb1.091522192456.csv', delim='|', header=True);
select * from AWRHISTOSSTAT

,PKEY,DBID,INSTANCE_NUMBER,HH24,STAT_NAME,HH24_TOTAL_SECS,CUMULATIVE_VALUE,AVG_VALUE,MODE_VALUE,MEDIAN_VALUE,PERC50,PERC75,PERC90,PERC95,PERC100,MIN_VALUE,MAX_VALUE,SUM_VALUE,COUNT
0,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,0,LOAD,24410,1,0,0,0,0,0,0,0,1,0,1,3,27
1,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,0,NUM_CPUS,24410,4,0,0,0,0,0,0,0,0,0,0,0,27
2,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,0,SYS_TIME,24410,1870375,1864,1806,1941,1941,1984,2001,2022,2029,0,2029,50339,27
3,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,0,BUSY_TIME,24410,13332107,13285,13738,13766,13766,14072,14201,14246,14563,0,14563,358699,27
4,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,0,IDLE_TIME,24410,331317941,331025,0,344606,344606,344949,345596,345947,346108,0,346108,8937687,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,23,PHYSICAL_MEMORY_BYTES,21575,5925134336,0,0,0,0,0,0,0,0,0,0,0,24
1196,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,23,TCP_SEND_SIZE_DEFAULT,21575,16384,0,0,0,0,0,0,0,0,0,0,0,24
1197,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,23,RSRC_MGR_CPU_WAIT_TIME,21575,1,0,0,0,0,0,0,0,0,0,0,0,24
1198,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,23,GLOBAL_RECEIVE_SIZE_MAX,21575,4194304,0,0,0,0,0,0,0,0,0,0,0,24
1199,orcl-vbox1.localdomain.com_VBOXNCDB_091522192456,3275259997,1,23,TCP_RECEIVE_SIZE_DEFAULT,21575,131072,0,0,0,0,0,0,0,0,0,0,0,24

In [6]:
%%sql
create or replace view test_view as
select * from read_csv_auto('data/opdb__awrhistosstat__190_2.0.6_orcl-vbox1.localdomain.com.VBOXNCDB.vboxncdb1.091522192456.csv', delim='|', header=True);
describe test_view;

         column_name column_type null   key default extra
0               PKEY     VARCHAR  YES  None    None  None
1               DBID      BIGINT  YES  None    None  None
2    INSTANCE_NUMBER     INTEGER  YES  None    None  None
3                 HH     INTEGER  YES  None    None  None
4          STAT_NAME     VARCHAR  YES  None    None  None
5    HH24_TOTAL_SECS     INTEGER  YES  None    None  None
6   CUMULATIVE_VALUE      BIGINT  YES  None    None  None
7          AVG_VALUE     INTEGER  YES  None    None  None
8         MODE_VALUE     INTEGER  YES  None    None  None
9       MEDIAN_VALUE     INTEGER  YES  None    None  None
10            PERC50     INTEGER  YES  None    None  None
11            PERC75     INTEGER  YES  None    None  None
12            PERC90     INTEGER  YES  None    None  None
13            PERC95     INTEGER  YES  None    None  None
14           PERC100     INTEGER  YES  None    None  None
15         MIN_VALUE     INTEGER  YES  None    None  None
16         MAX_VALUE     INTEGER  YES  None    None  None
17         SUM_VALUE      BIGINT  YES  None    None  None
18             COUNT     INTEGER  YES  None    None  None

In [2]:
%%sql
select * from information_schema.tables

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,None,main,DBINSTANCES,BASE TABLE,None,None,None,None,None,YES,NO,None
1,None,main,AWRHISTCMDTYPES,BASE TABLE,None,None,None,None,None,YES,NO,None
2,None,main,AWRHISTOSSTAT,BASE TABLE,None,None,None,None,None,YES,NO,None
3,None,main,AWRHISTSYSMETRICHIST,BASE TABLE,None,None,None,None,None,YES,NO,None
4,None,main,AWRHISTSYSMETRICSUMM,BASE TABLE,None,None,None,None,None,YES,NO,None
5,None,main,DBHWMARKSTATISTICS,BASE TABLE,None,None,None,None,None,YES,NO,None
6,None,main,DBFEATURES,BASE TABLE,None,None,None,None,None,YES,NO,None
7,None,main,DBAHISTSYSTIMEMODEL,BASE TABLE,None,None,None,None,None,YES,NO,None
8,None,main,DBAHISTSYSSTAT,BASE TABLE,None,None,None,None,None,YES,NO,None
9,None,main,DATATYPES,BASE TABLE,None,None,None,None,None,YES,NO,None
10,None,main,DATAGUARD,BASE TABLE,None,None,None,None,None,YES,NO,None
11,None,main,CPUCORESUSAGE,BASE TABLE,None,None,None,None,None,YES,NO,None
12,None,main,COMPRESSBYTYPE,BASE TABLE,None,None,None,None,None,YES,NO,None
13,None,main,DBLINKS,BASE TABLE,None,None,None,None,None,YES,NO,None
14,None,main,DBOBJECTS,BASE TABLE,None,None,None,None,None,YES,NO,None
15,None,main,DBPARAMETERS,BASE TABLE,None,None,None,None,None,YES,NO,None
16,None,main,DBSUMMARY,BASE TABLE,None,None,None,None,None,YES,NO,None
17,None,main,EXTTAB,BASE TABLE,None,None,None,None,None,YES,NO,None
18,None,main,IDXPERTABLE,BASE TABLE,None,None,None,None,None,YES,NO,None
19,None,main,INDEXESTYPES,BASE TABLE,None,None,None,None,None,YES,NO,None
20,None,main,IOEVENTS,BASE TABLE,None,None,None,None,None,YES,NO,None
21,None,main,IOFUNCTION,BASE TABLE,None,None,None,None,None,YES,NO,None
22,None,main,PDBSINFO,BASE TABLE,None,None,None,None,None,YES,NO,None
23,None,main,PDBSOPENMODE,BASE TABLE,None,None,None,None,None,YES,NO,None
24,None,main,SOURCECODE,BASE TABLE,None,None,None,None,None,YES,NO,None
25,None,main,SOURCECONN,BASE TABLE,None,None,None,None,None,YES,NO,None
26,None,main,SQLSTATS,BASE TABLE,None,None,None,None,None,YES,NO,None
27,None,main,TABLESNOPK,BASE TABLE,None,None,None,None,None,YES,NO,None
28,None,main,USEDSPACEDETAILS,BASE TABLE,None,None,None,None,None,YES,NO,None
29,None,main,USRSEGATT,BASE TABLE,None,None,None,None,None,YES,NO,None
30,None,main,optimusconfig_bms_machinesizes,BASE TABLE,None,None,None,None,None,YES,NO,None
31,None,main,optimusconfig_network_to_gcp,BASE TABLE,None,None,None,None,None,YES,NO,None
32,None,main,vsysstat_columnar,BASE TABLE,None,None,None,None,None,YES,NO,None
33,None,main,AWRSNAPDETAILS,BASE TABLE,None,None,None,None,None,YES,NO,None

In [3]:
%%sql
describe DBINSTANCES

       column_name column_type null   key default extra
0             PKEY     VARCHAR  YES  None    None  None
1          INST_ID      BIGINT  YES  None    None  None
2    INSTANCE_NAME     VARCHAR  YES  None    None  None
3        HOST_NAME     VARCHAR  YES  None    None  None
4          version     VARCHAR  YES  None    None  None
5           STATUS     VARCHAR  YES  None    None  None
6  DATABASE_STATUS     VARCHAR  YES  None    None  None
7    INSTANCE_ROLE     VARCHAR  YES  None    None  None